*{
    padding: 0px;
    margin: 0px;
}
.contact-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

@media screen and (max-width : 780px){
    h2{
        font-size: 20px;
    }
}